.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-right: 1px solid lightgrey;
}

.taskset{
    padding:10px;
    display: flex;
    border-radius: 10px;
    border: 1px solid lightgrey;
    justify-content: space-between;
}

.taskset:hover{
    cursor: pointer;
    background-color: rgb(235, 234, 234);
}

.delete-taskset{
    width: 100%;
    text-align: right;
}

.active{
    background-color:  rgb(235, 234, 234);
}

.add-button-container{
    display: flex;
    justify-content: end;

}

.add-button-container button{
    cursor: pointer;
}