.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-right: 1px solid lightgrey;
}

.taskset{
    padding:10px;
    display: flex;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.taskset:hover{
    cursor: pointer;
    background-color: rgb(235, 234, 234);
}