.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-right: 1px solid lightgrey;
}

.add-button-container{
    display: flex;
    justify-content: end;

}

.add-button-container button{
    cursor: pointer;
}