.header{
    width: 100%;
    height:40px;
    border-bottom: 1px solid lightgray;
    padding: 10px;
    font-family: sans-serif;
    color: rgb(241, 40, 4);
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
}